---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/common/Header.astro';
import Footer from '../../components/common/Footer.astro';
import PricingSection from '../../components/sections/Pricing.astro';
---

<Layout title="Ceník - Pavel Kašpar" lang="cs">
  <Header slot="header" lang="cs" />
  
  <main>
    <PricingSection lang="cs" />
  </main>
  
  <Footer slot="footer" lang="cs" />
</Layout>
