---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/common/Header.astro';
import Footer from '../../components/common/Footer.astro';
import FastOnboarding from '../../components/sections/FastOnboarding.astro';
---

<Layout title="Rychlá poptávka - Pavel Kašpar" lang="cs">
  <Header slot="header" lang="cs" />
  
  <main>
    <FastOnboarding lang="cs" />
  </main>
  
  <Footer slot="footer" lang="cs" />
</Layout>
