---
import Layout from '../layouts/Layout.astro';
import Header from '../components/common/Header.astro';
import Footer from '../components/common/Footer.astro';
import CaseStudiesSection from '../components/sections/CaseStudies.astro';
---

<Layout title="Case Studies - Pavel Kašpar" lang="en">
  <Header slot="header" lang="en" />
  <main>
    <CaseStudiesSection lang="en" />
  </main>
  <Footer slot="footer" lang="en" />
</Layout>
