---
import Layout from '../layouts/Layout.astro';
import Header from '../components/common/Header.astro';
import Footer from '../components/common/Footer.astro';
import PricingSection from '../components/sections/Pricing.astro';
---

<Layout title="Pricing - Pavel Kašpar" lang="en">
  <Header slot="header" lang="en" />

  <main>
    <PricingSection lang="en" />
  </main>

  <Footer slot="footer" lang="en" />
</Layout>
